@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  font-size: 0.8rem;
}

body {
  min-height: 100vh;
  background: rgb(29, 29, 29);
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
padding: 10px 20px;
}

nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

h1{
  font-size: 5rem;
}
nav ul li {
  padding: 10px;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 30px auto;
}

.header-left-container{
  display: flex;
  flex-direction: column;
}

.header-left-container h1{
  font-size: 40px;
}

.header-left-container h3{
  color: #474dff;
  font-style: 1.8rem;
}

.header-left-container p{
  font-size: 11px;
}

.header-right {
  width: 50%;
}
#modem {
  width: 100%;
  margin: 0 auto;
}

.infos{
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid red;
  background: rgb(6, 6, 6);
}

.infos-left{
border: 1px solid red;
}

.infos-right{
  border: 1px solid red;
  width: 70%;
}

button{
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}

.investors{
  display: grid;
  align-items: center;
  height: 80%;
}

.img-containers{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.img-containers img{
  height: 60px;
}

/* ************ MEDIA QUERIES ************** */

@media screen and (max-width: 870px) {
  h1 {
    font-size: 2.5rem;
  }
  .header-left-container h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 592px) {
  nav {
    grid-template-columns: 35% 65%;
  }
  nav ul {
    font-size: 0.7rem;
  }
  .header {
    display: block;
  }
  .infos {
    display: block;
    text-align: center;
  }
  button {
    margin: 5px auto;
  }
  .img-container img {
    height: 33px;
  }
}